.rps {
  .game-type {
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 500;
  }
  .hand-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 280px;
    margin: 0 auto;
    p {
      font-size: 16px;
      font-weight: 400;
    }
    .hands {
      display: flex;
      justify-content: space-between;
      width: 100%;
      img {
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        &:hover {
          transform: translateY(-4px) rotate(5deg);
          transform-origin: bottom right;
        }
      }
    }
  }

  .rps-gameplay {
    max-width: 500px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;

    .player {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px;
      .hand.bobbing {
        animation: bobbing 3s ease infinite;
      }
      .hand img {
        width: 85px;
        @media screen and (max-width: $bp-sm) {
          width: 70px;
        }
      }
      &.left {
        .hand {
          transform: rotate(90deg);
          &.bobbing {
            transform-origin: center;
            animation: bobbing-left 3s ease infinite;
          }
        }
      }
      &.right {
        transform: scale(1, -1);
        .hand {
          transform: rotate(-90deg);
          &.bobbing {
            transform-origin: center;
            animation: bobbing-right 3s ease infinite;
          }
        }
      }
    }
    .rps-status {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: "Patrick Hand";
      font-weight: 400;
      .countdown {
        font-size: 64px;
      }
      .result {
        display: none;
        font-size: 24px;
        text-transform: uppercase;
        @media screen and (max-width: $bp-sm) {
          font-size: 20px;
        }
      }
    }
  }
  .rps-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-left: -40px; // Compensate for ::marker width
    margin-top: 70px;
  }
}

@keyframes bobbing-left {
  0%,
  100% {
    transform: rotate(90deg);
  }
  20% {
    transform: translate(-5px, 5px) rotate(85deg);
  }
  40% {
    transform: translate(5px, -5px) rotate(95deg);
  }
  60% {
    transform: translate(-5px, 5px) rotate(85deg);
  }
  80% {
    transform: translate(5px, -5px) rotate(95deg);
  }
}

@keyframes bobbing-right {
  0%,
  100% {
    transform: rotate(-90deg);
  }
  20% {
    transform: translate(-5px, 5px) rotate(-85deg);
  }
  40% {
    transform: translate(5px, -5px) rotate(-95deg);
  }
  60% {
    transform: translate(-5px, 5px) rotate(-85deg);
  }
  80% {
    transform: translate(5px, -5px) rotate(-95deg);
  }
}
