.header .container {
  margin: 32px auto 0;
  max-width: $content-width;
}

h1.title {
  text-align: center;
  font-family: "Patrick Hand", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 24px;
  width: 100%;
}
