$background: #fafafa;
$text: #212121;
$border: #797979;
$link: #1e88e5;
$link-darkened: #1565c0;
$green: #43a047;
$red: #e53935;
$white: #fff;

$content-width: 650px;
$bp-sm: 480px;
$bp-md: 520px;
$bp-lg: 1024px;
