<main class="wrapper">
  <header class="header">
    <div class="container">
      <include
        src="partials/header.html"
        locals='{ "title": "Rock Paper Scissors"}'
      ></include>
    </div>
  </header>
  <section class="game-view">
    <div class="main-menu">
      <include
        src="partials/new-game.html"
        locals='{ "pvc": "Player vs Computer", "cvc": "Computer vs Computer"}'
      ></include>
      <include src="partials/previous-games.html"></include>
    </div>
    <div class="game" style="display: none">
      <include
        src="partials/rps-game.html"
        locals='{"player": "Player", "computer": "Computer", "whichHand": "Which hand do you want to play?", "playAgain": "Play again", "menu": "Back to menu"}'
      ></include>
    </div>
  </section>
</main>
